<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
 
  <div class="field">
    <%= f.label :name, "Nombre(s): " %> <br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name,"Apellido: " %> <br />
    <%= f.text_field :last_name%>
  </div>

  <div class="field">
     <%= f.label :cp, "Codigo postal: " %> <br />
     <%= f.number_field :cp %> 
  </div>

  <div class="field">
    <%= f.label :cellphone, "Telefono: " %> <br />
    <%= f.telephone_field :cellphone%>
  </div>

  <div class="field">
     <%= f.check_box :is_female, {}, true %>
     <%= f.label :is_female, "Mujer" %> 
  </div>
    
  <div class="field">
  <%= f.check_box :is_female, {}, false %>
  <%= f.label :is_female, "Hombre" %> 
  </div>

  <div class="field">
    <%= f.label :date_birth, "Fecha de nacimiento: " %><br />
    <%= f.date_select :date_birth%>
  </div>

  <div class="field">
    <%= f.label :email, "Correo: " %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Contrase単a: " %> <i>(Dejala en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contrase単a: " %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Contrase単a actual: " %> <i>(Requerimos de tu contrase単a actual)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Dar de baja mi cuenta</h3>

<p>Cancelar cuenta <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Esta seguro?" }, method: :delete %></p>

<%= link_to "Atras", :back %>
