<h2>Registrate</h2>

<div class="row">
  <div class="col-md-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name, "Nombre(s): " %> <br />
      <%= f.text_field :name, autofocus: true, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :last_name, "Apellidos: " %> <br />
      <%= f.text_field :last_name, class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
     <%= f.label :cp, "Codigo postal: " %> <br />
     <%= f.number_field :cp, class:"form-control" %> 
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :cellphone, "Telefono: "%> <br />
      <%= f.telephone_field :cellphone, class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
       <%= f.check_box :is_female, {}, true %>
       <%= f.label :is_female, "Mujer" %> 
    </div>

     <div class="field">
       <%= f.check_box :is_female, {}, false %>
       <%= f.label :is_female, "Hombre" %> 
     </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :date_birth, "Fecha de nacimiento: " %><br />
      <%= f.date_select :date_birth, class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
   <div class="field">
      <%= f.label :email, "Email: " %><br />
      <%= f.email_field :email, class:"form-control" %>
   </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<<<<<<< HEAD
<%end%>
<%= render "devise/shared/links" %>
</div>
</div>
=======
  

<%= render "devise/shared/links" %>
>>>>>>> a09e2082bfda28726ee9612f6dff4a9df4932637
