<header>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="<%=seguroCompara_path%>">Seguro compara</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

<<<<<<< HEAD
        <li><a href="Acerca">Acerca de</a></li>
        <li><a href="Ayuda">Ayuda</a></li>
=======
        
        

        <li><a href="<%=acerca_path%>">Acerca de</a></li>
        <li><a href="<%=ayuda_path%>">Ayuda</a></li>
>>>>>>> a09e2082bfda28726ee9612f6dff4a9df4932637

        <li class="dropdown">
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>

            <li><a href="#">Conocenos</a></li>
          </ul>
        </li>

            <li><a href="<%=perfil_path%>">Ser premium</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Ya tienes una cuenta?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
              <% if user_signed_in? %>
        Loggeado como: <%= current_user.email %> <br>
        <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
        <%= link_to "Editar Perfil", edit_user_registration_path(current_user) %>
              
              <%else%>
      				Conectate a traves de
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>

                             Iniciar sesión:

<!-- Formulario para iniciar sesión. -->

  <%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email, class:"form-control" %>
  <%= f.password_field :password, class:"form-control" %> <br>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>

<% end %>             
                             
							</div>
							<div class="bottom text-center"> 
								Eres nuevo ? <%= link_to "Registrate!", new_user_registration_path %> 
							</div>
              <% end %>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
    </div>
  </div>
 </nav>
</header>