<!DOCTYPE html>
<html>
<head>
  <title>SeguroCompara</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Seguro Compara</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="acerca_de">Acerca de</a></li>
        <li><a href="#">Ayuda</a></li>
        <li class="dropdown">
          <li><a href="#">Ser premium</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Ya tienes una cuenta?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar Sesi칩n</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Conectate a traves de
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                Con tu cuenta
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Correo electronico" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Contrase침a</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contrase침a" required>
                                             <div class="help-block text-right"><a href="">Olvidaste tu contrase침a ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Iniciar sesion</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> Mantenerme loggeado.
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								Eres nuevo ? <a href="#"><b>Registrate!</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- <nav class="be-red white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md">
				<h1 class="no-margin" id="logo">Seguro compara</h1>
			</li>
			<li class="col-md">
				<= link_to "Inicio", root_path %>
			</li>
			<li class="col-md">
				Acerca de
			</li>
			<li class="col-md">
				Registro
			</li>
			<li class="col-md">
				contactanos
			</li>
		</ul>
	</nav> 

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
-->
</header>
<%= yield %>

</body>
</html>
